
.movie-info {
    padding: 7px 7px;
}

.movie-title {
    font-size: 17px;
    font-weight: 700;
    margin-top: 7px;
    line-height: 20px;
}

.movie-strong{
    font-weight: 700;
}

.movie-summary {
    padding: 10px 10px;
    width: 50%;
    font-size: 12px;
    opacity: 0.6;
    margin-top: 4px;
}

.comment-content {
    font-weight: 100;
    width: 100%;
    font-size: 15px;
    padding: 10px 10px;
}

.comment-input{
    font-family: 'NanumSquare', sans-serif;
    background-color: #2E2E2E;
    color:#FFFFFF;
    border-radius: 1px;
    border-color: #FFFFFF;
    width: 80%;
    font-size: 15px;
    padding: 10px 10px;
}


.comment-submit{
    font-family: 'NanumSquare', sans-serif;
    width: 20%;
    font-size: 15px;
    padding: 10px 10px;
}

.comment-intro{
    font-size: 25px;
    padding: 10px 10px;
}

.container.line{
    color:#949494;
    width: 100%;
    padding: 10px 10px;
}

.lotte{
    font-weight: 500;
    color: #D44242;
}

.re{
    font-weight: 500;
    color: #FFFFFF;
}

.comment-user{
    font-weight: 500;
    width: 100%;
    font-size: 15px;
    padding: 10px 10px;
}

.container.movie-poster {
    padding: 10px 10px;
    width: 50%;
    height: auto;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container.movie-poster.no-image {
    background-image: url('/static/images/noImage.gif');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.container{
    background-color: #2E2E2E;
    font-family: 'NanumSquare', sans-serif;
    width: fit-content;
    color: #FFFFFF;
    padding : 0px 30px;
}