{% extends 'base_header.html' %}
{% load static %}

{% block title %}
login
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<main class="login-main">
    <form class = "login-form" action="" method="post">
        {% csrf_token %}
        <div class="form-title">로그인하고 투표해보세요!</div>
        <div class="login-field">
            <div class="login-info">
                <input class="input__name" autocomplete="off" type="text" name="username" placeholder="아이디를 입력해 주세요.">
                <input class="input__pwd" autocomplete="off" type="password" name="password" placeholder="비밀번호를 입력해 주세요.">
            </div>
            <input class= "login-btn" type="submit" value="로그인" />
        </div>
        <div class="signup-btn">
            아직 가입을 안하셨나요?
            <a class= "link-sign-up" href="{% url 'select_signup' %}">회원가입하기</a>
        </div>
    </form>
</main>
{% endblock %}