.no-top-movies {
    font-size: 30px;
    font-weight: 700;

    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.top-movies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
    place-items: stretch;

    padding: 0px 40px;

    margin-top: 40px;
}

.movie-ranking {
    position: absolute;
    top: 10px;
    left: 10px;

    color: white;
    font-size: 35px;
    font-style: italic;
    font-weight: 700;
    z-index: 1;
}

.like_cnt {
    position: absolute;
    bottom: -25px;
    right: 0px;
    color: black;
    
    font-size: 17px;
    font-weight: 700;
}

.like_cnt i {
    color: #D44242;
    margin-right: 3px;
}