.enroll_main {
    display: flex;
    justify-content: center;
}

.enroll-form-background {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;
    justify-content: center;
    align-items: center;

    background-color: rgba(0,0,0,0.24);

}

.enroll-form {
    width: 350px;
    height: 200px;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 20px;

    padding-bottom: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: fit-content;

    padding: 6px 0px;

    border-bottom: 3px solid #D44242;
}

.form-title {
    font-size: 20px;
    margin-top: 25px;
    font-weight: 700;
}
.btns-container {
    margin-top: auto;
}

.small-btn {
    border: none;
    width: 60px;
    height: 30px;
    font-size: 15px;
    border-radius: 15px;
}
.small-btn:nth-last-child(1) {
    margin-left: 10px;
}

.small-btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.confirm-btn {
    background-color: #D44242;
    color: white;
}

.cancel-btn {
    background-color: #2E2E2E;
    color: white;
}

.themes-container {
    border: none;
    outline: none;

    margin-top: 16px;

}

option {
    padding: 10px;
}