.search-box {
    width: 100%;

    display: flex;
    justify-content: center;

    margin-top: 20px;
}

.search-title {
    padding-left: 20px;
    font-size: 17px;

}

.search-title .search-theme {

    font-weight: 700;
}

.input-box {
    height: fit-content;
    width: fit-content;
    border: 2px solid #D44242;
    border-radius: 18px;
    padding: 8px 20px;

    margin-top: 10px;
}

.input-search {

    font-family: 'NanumSquare', sans-serif;

    border: none;
    outline: none;
    width: 40vw;

    font-size: 17px;
    font-weight: 700;
}

.input-box i {
    color: #D44242;
    font-size: 18px;
}

.search-result-title {
    font-size: 20px;
    margin-right: auto;
}

.search-term {
    font-weight: 700;
}

.search-result-container {
    width: fit-content;
    min-width: 961px;
    margin-top: 40px;
    padding: 0px 50px;
}

.search-result {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;

    row-gap: 20px;
    column-gap: 20px;
}

.movie-info {
    padding: 0px 7px;
}

.movie-title {
    font-size: 17px;
    font-weight: 700;
    margin-top: 7px;
    line-height: 20px;
}

.movie-summary {
    font-size: 12px;
    opacity: 0.6;
    margin-top: 4px;
}

.movie-item {
    width: 20%;
    max-width: 240px;
}

.movie-item .movie-poster {
    width: 100%;
    padding-top: 141%;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.movie-poster.no-image {
    background-image: url('/static/images/noImage.gif');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


