{% extends "base_header.html" %}
{% load static %}

{% block header-content %}
<div class="theme-box">
    <!-- <input class="theme-month-input"></input>
    <input class="theme-title-input"></input> -->

    <div class="theme-month">{% block theme-month %} {% endblock %}</div>
    <div class="theme-title">{% block theme-title %} {% endblock %}</div>
    {% if user.is_staff %}
    <div class="theme-setting"><i class="fas fa-hammer"></i>테마 설정</div>
    {% endif %}
</div>
{% endblock %}

{% block content %}
{% endblock %}7