{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
<link rel="stylesheet" href="{% static 'css/comment.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
{% endblock %}

{% block theme-month %} {{theme.month}}월, {% endblock %}
{% block theme-title %} {{theme.subtitle}} {% endblock %}

{% block content %}
<div class="search-box">
    <form class="search-form" action="{% url 'search' %}" method="GET">
        {% csrf_token %}
        <div class="search-title">
            <span class="search-theme"> {{theme.title}} </span>
            <span> 검색하기 </span>
        </div>

        <div class="input-box">
            <input class="input-search" type="text" name="query" autocomplete="off">
            <a href="javascript:$('.search-form').submit();">
                <i class="fas fa-search"></i>
            </a>
        </div>
    </form>
</div>

{% block subcontent %}
{% endblock %}

{% endblock %}