{% extends 'base_header.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
<link rel="stylesheet" href="{% static 'css/enroll_movie.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'js/search.js' %}"></script>
<script src="{% static 'js/enroll.js' %}"></script>
<script src="https://kit.fontawesome.com/9760767faf.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
{% endblock %}

{% block content %}

<!-- 검색 -->

<div class="search-box">
    <form class="search-form" action="{% url 'enroll_movie_search' %}" method="GET">
        {% csrf_token %}
        <div class="search-title">
            <span class="search-theme"> 투표 리스트에 추가할 영화 검색하기</span>
            <span> </span>
        </div>

        <div class="input-box">
            <input class="input-search" type="text" name="query" autocomplete="off">
            <a href="javascript:$('.search-form').submit();">
                <i class="fas fa-search"></i>
            </a>
        </div>
    </form>
</div>

{% if search_list %}
<ul class="movie-list">
    <li class="movie-list-title">
        <span class="search-term"></span> 검색 결과입니다.
    </li>
    {% for movie in search_list %}
    <li class="movie-item">
        <form id="movie{{ forloop.counter }}-form" action="{% url 'enroll_movie' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" value={{movie.movie_id}} name="movieId">
            <input type="hidden" value={{movie.movie_seq}} name="movieSeq">
            <a href="{% url 'movie' %}">
                {% if movie.poster %}
                <div class="movie-poster" style="background-image: url('{{movie.poster}}');"></div>
                {% else %}
                <div class="movie-poster no-image"></div>
                {% endif %}
            </a>
            <div class="submit-input-box">
                <div class="movie-info">
                    <a href="javascript:$('#movie{{ forloop.counter }}-form').submit();">
                        <h3 class="movie-title">{{movie.title}}</h3>
                    </a>
                    <span class="movie-summary">{{movie.production_year}} | {{movie.runtime}}분</span>
                </div>
                <input class="enroll-btn red-btn" type="submit" value="등록하기"/>
            </div>


        </form>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if comment_movies %}
<ul class="movie-list">
    <li class="movie-list-title">
        이번달 의견내기 영화 순위
        <!-- <span class="search-term"></span>  -->
    </li>
    {% for movie in comment_movies %}
    <li class="movie-item">
        <form id="movie{{ forloop.counter }}-form" action="{% url 'enroll_movie' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" value={{movie.movie_id}} name="movieId">
            <input type="hidden" value={{movie.movie_seq}} name="movieSeq">
            <a href="javascript:$('#movie{{ forloop.counter }}-form').submit();">
                {% if movie.poster %}
                <div class="movie-poster" style="background-image: url('{{movie.poster}}');"></div>
                {% else %}
                <div class="movie-poster no-image"></div>
                {% endif %}
            </a>
            <div class="submit-input-box">
                <div class="movie-info">
                    <a href="javascript:$('#movie{{ forloop.counter }}-form').submit();">
                        <h3 class="movie-title">{{movie.title}}</h3>
                    </a>
                    <span class="movie-summary">{{movie.production_year}} | {{movie.runtime}}분</span>
                </div>
                <input class="enroll-btn red-btn" type="submit" value="등록하기"/>
            </div>
        </form>
    </li>
    {% endfor %}
</ul>
{% endif %}

<div class="enroll-form-background">
    <form method="POST" action="{% url 'enroll_movie' %}" class="enroll-form">
        {% csrf_token %}

        <div class="logo-container">
            <img class="logo" src="{% static 'images/lotte-icon.jpg' %}" alt="롯데 시네마">
        </div>

        <div class="form-title">
            
        </div>
        <select class="themes-container" name="dropdown" id="">
            {% for theme in themes %}
            <option value={{theme.id}}>{{theme.title}}</option>
            {% endfor %}
        </select>
        <input id="movie-id" type="hidden" value="" name="movieId">
        <input id="movie-seq" type="hidden" value="" name="movieSeq">

        <div class="btns-container">
            <button class="confirm-btn small-btn">등록</button>
            <button class="cancel-btn small-btn">취소</button>
        </div>
    </form>
    <div class="alert-form">
        {% csrf_token %}

        <div class="logo-container">
            <img class="logo" src="{% static 'images/lotte-icon.jpg' %}" alt="롯데 시네마">
        </div>
        <div class="form-title">
            등록이 완료되었습니다.
        </div>
        <div class="btns-container">
            <button class="yes-btn small-btn">확인</button>
        </div>
    </div>
</div>

{% endblock %}