{% extends 'base.html' %}
{% load static %}

{% block title %}
투표 페이지
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>    
    const urlParams = new URLSearchParams(window.location.search);
    const is_voted = urlParams.get('is_voted');
    if (is_voted === "1") {
        alert("해당 영화는 이미 투표하셨습니다!");
        window.location.replace("/");
    } else if (is_voted === "0") {
        alert("투표가 완료되었습니다!");
        window.location.replace("/");
    }
    
</script>
{% endblock %}

{% block theme-month %} {{theme.month}}월, {% endblock %}
{% block theme-title %} {{theme.subtitle}} {% endblock %}

{% block content %}


<body class="home-body">
    <div class="titlebox">
        <h2>투표하기</h2>
        {% if user.is_staff %}
        <div class="link-box">
            <a class="link-enroll" href="/enroll_movie">
                <button class="btn add-vote-movie-btn">투표 리스트 추가하기 </button>
            </a>
        </div>
        {% endif %}
    </div>

    {% for votemovie in votemovies %}
    <div class="votemovie">
        {% if movie.poster %}
        <div class="movie-poster">
            <img src="{{ votemovie.movie.poster.url }}">
        </div>
        {% else %}
        <div class="no-image">
            <img src="{% static 'images/noImage.gif' %}">
        </div>
        {% endif %}

        <div class="submit-input-box">
            <div class="movie-info">
                <h3 class="movie-title">{{ votemovie.movie.title }}</h3>

                <h5> {{ votemovie.vote_num }}표 </h5>

                <form action="{% url 'vote' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{ votemovie.id }}" name="votemovie_id">
                    <button name="movie_id" value="{{ votemovie.movie.id }}" class="submit-btn"
                        type="submit">투표하기</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</body>


{% endblock %}