{% extends 'base.html' %}
{% load static %}

{% block title %}
투표 페이지
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const is_voted = urlParams.get('is_voted');
    const deleteFlag = urlParams.get('delete');
    if (is_voted === "1") {
        alert("이미 투표한 영화입니다.");
        window.location.replace("/");
    } else if (is_voted === "0") {
        alert("투표되었습니다.");
        window.location.replace("/");
    }

    if (deleteFlag === "1") {
        alert("삭제가 완료되었습니다.");
        window.location.replace("/");
    } else if (is_voted === "0") {
        alert("삭제되지 않았습니다.");
        window.location.replace("/");
    }
</script>
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}

{% block theme-month %} {{theme.month}}월, {% endblock %}
{% block theme-title %} {{theme.subtitle}} {% endblock %}

{% block content %}


<body class="home-body">

    <div class="vote-container">
        {% if user.is_staff %}
        <div class="link-box">
            <a class="link-enroll" href="/enroll_movie">
                <button class="btn add-vote-movie-btn">투표 리스트 추가하기 </button>
            </a>
        </div>
        {% endif %}

        <div class="titlebox">
            <h2>투표하기</h2>
            <h3 class="subtitle">{{theme.month}}월, 극장에서 보고 싶은 영화에 투표해주세요</h3>
        </div>

        <ul class="vote-movie-list">
            {% for votemovie in votemovies %}
            <li class="vote-movie-item">
                <div class="movie-ranking">
                    {{ forloop.counter }}
                </div>
                {% if votemovie.movie.poster %}
                <div class="movie-poster" style="background-image: url('{{votemovie.movie.poster}}');">
                    

                    <div class="poster-fg">
                        <h3 class="movie-title">{{ votemovie.movie.title }}</h3>

                        <h5 class="vote-cnt"> <i class="fas fa-heart"></i>{{ votemovie.vote_num }} </h5>
                        <form action="{% url 'vote' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" value="{{ votemovie.id }}" name="votemovie_id">
                            <button class="btn submit-btn"
                                type="submit">투표하기</button>
                        </form>
                        <a href="{% url 'movie' %}">
                            <button class="btn detail-btn" type="submit">상세보기</button>
                        </a>
                        {% if user.is_staff %}
                        <form method="POST" action="{% url 'delete_vote_movie' %}">
                            {% csrf_token %}
                            <input type="hidden" value="{{ votemovie.id }}" name="votemovie_id">
                            <button class="btn delete-btn">삭제</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
                {% else %}
                <div class="movie-poster no-image"></div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</body>


{% endblock %}